
[server]
[mysqld]


basedir = /usr
datadir = /var/lib/mysql
port = 3306


socket = /run/mysqld/mysqld.sock
pid-file = /run/mysqld/mysqld.pid

bind_address= 0.0.0.0
user = mysql

skip_networking = off
max_allowed_packet = 64M
log_error = /var/log/mysql/error.log
