
[server]
[mysqld]

## Basic settings ##
basedir = /usr   # base directory for db installation
datadir = /var/lib/mysql   # directory to store db files
port = 3306

# path to the socket file the server will use for local connections
socket = /var/run/mysqld/mysqld.sock
pid-file = /var/run/mysqld/mysqld.pid   # location to PID file for db (sotres the Process ID of server)

# accept all IP addresses
bind_address= 0.0.0.0
user = mysql

skip_networking = off
max_allowed_packet = 64M
log_error = /var/log/mysql/error.log
